<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/navigation}"
>
<head>
    <th:block th:replace="~{layout/fragment::head}">
    </th:block>
    <link th:href="@{/css/common-add.css}" rel="stylesheet">
</head>
<body>

<div layout:fragment="content">

    <div>
        <nav aria-label="breadcrumb" class="my-4 ms-5">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a th:href="@{/user}" class="text-decoration-none">List user</a>
                </li>
                <li class="breadcrumb-item">
                    <a th:href="@{/user/{id}(id=${user.id})}"
                       class="text-decoration-none">User detail</a>
                </li>
                <li class="breadcrumb-item" aria-current="page">Edit user</li>
            </ol>
        </nav>
        <section class="p-5 user-container">
            <div th:if="${message}" class="text-center">
                <span th:utext="${message}" class="text-danger"></span>
            </div>
            <form th:action="@{/user/edit/{id}(id=${user.id})}" method="post">
                <div class="user-form">
                    <div class="user-form-left">
                        <div class="form-field">
                            <input type="text"
                                   class="form-input"
                                   id="fullName"
                                   name="fullName"
                                   th:value="${user.fullName}" required/>
                            <label class="form-lb" for="fullName"> Full name</label>
                            <ion-icon class="form-icon" name="person-outline"></ion-icon>
                        </div>
                        <div class="form-field">
                            <input class="form-input date"
                                   id="dob"
                                   name="dob"
                                   th:value="${user.dob}"
                                   required/>
                            <label class="form-lb" for="dob"> D.O.B</label>
                            <ion-icon class="form-icon" name="calendar-number-outline"></ion-icon>
                        </div>
                        <div class="form-field">
                            <input class="form-input"
                                   id="phoneNumber"
                                   name="phoneNumber"
                                   th:value="${user.phoneNumber}"
                                   required/>
                            <label class="form-lb" for="phoneNumber">Phone No.</label>
                            <ion-icon class="form-icon" name="call-outline"></ion-icon>
                        </div>
                        <div class="form-field">
                            <select class="form-input form-select-role"
                                    id="role"
                                    name="role"
                                    required>
                                <option th:selected="${user.account.role.name() == 'ROLE_MANAGER'}"
                                        value="ROLE_MANAGER">Manager
                                </option>
                                <option th:selected="${user.account.role.name() == 'ROLE_RECRUITER'}"
                                        value="ROLE_RECRUITER">Recruiter
                                </option>
                                <option th:selected="${user.account.role.name() == 'ROLE_INTERVIEW'}"
                                        value="ROLE_INTERVIEW">Interview
                                </option>
                            </select>
                            <label class="form-lb form-lb-role" for="role"> Role</label>
                            <ion-icon class="form-icon" name="finger-print-outline"></ion-icon>
                        </div>
                        <div class="form-field">
                            <select class="form-input form-select-role"
                                    id="status"
                                    name="status"
                                    required>
                                <option th:selected="${user.account.status == true}"
                                        th:value="${true}">Active
                                </option>
                                <option th:selected="${user.account.status == false}"
                                        th:value="${false}">No active
                                </option>
                            </select>
                            <label class="form-lb form-lb-status" for="status"> Status</label>
                            <ion-icon class="form-icon" name="swap-horizontal-outline"></ion-icon>
                        </div>
                    </div>
                    <div class="user-form-right">
                        <div class="form-field">
                            <input type="email"
                                   class="form-input"
                                   id="email"
                                   name="email"
                                   th:value="${user.account.email}"
                                   required/>
                            <label class="form-lb" for="email"> Email</label>
                            <ion-icon class="form-icon" name="mail-outline"></ion-icon>
                        </div>
                        <div class="form-field">
                            <input type="text"
                                   class="form-input"
                                   id="address"
                                   name="address"
                                   th:value="${user.address}"
                                   required/>
                            <label class="form-lb" for="address"> Address</label>
                            <ion-icon class="form-icon" name="home-outline"></ion-icon>
                        </div>
                        <div class="form-field">
                            <select class="form-input form-select-gender"
                                    id="gender"
                                    name="gender"
                                    required>
                                <option th:selected="${user.gender.name() == 'MALE'}"
                                        value="MALE"> Male
                                </option>
                                <option th:selected="${user.gender.name() == 'FEMALE'}"
                                        value="FEMALE"> Female
                                </option>
                                <option th:selected="${user.gender.name() == 'OTHER'}"
                                        value="OTHER"> Other
                                </option>
                            </select>
                            <label class="form-lb form-lb-gender" for="gender"> Gender</label>
                            <ion-icon class="form-icon" name="transgender-outline"></ion-icon>
                        </div>
                        <div class="form-field">
                            <select class="form-input form-select-department" id="department" name="departmentId"
                                    required>
                                <option th:each="d: ${departments}"
                                        th:utext="${d.name}"
                                        th:value="${d.id}"
                                        th:selected="${d.id == user.department.id}"
                                ></option>
                            </select>
                            <label class="form-lb form-lb-department" for="department"> Department</label>
                            <ion-icon class="form-icon" name="desktop-outline"></ion-icon>
                        </div>
                        <div class="form-field">
                            <input type="text"
                                   class="form-input"
                                   id="notes"
                                   name="notes"
                                   th:value="${user.notes}"/>
                            <label class="form-lb" for="notes"> Notes</label>
                            <ion-icon class="form-icon" name="chatbox-ellipses-outline"></ion-icon>
                        </div>
                    </div>
                </div>
                <input type="hidden" name="id" th:value="${user.id}">
                <div class="d-flex justify-content-center mt-4">
                    <input type="submit" value="Save" class="btn btn-custom btn-outline-primary me-5">
                    <a th:href="@{/user}" role="button"
                       class="btn btn-custom btn-outline-secondary">
                        Back
                    </a>
                </div>
            </form>
        </section>
    </div>

    <script th:src="@{/js/common-add.js}"></script>
</div>
</body>
</html>