<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/navigation}"
>
<head>
    <th:block th:replace="~{layout/fragment::head}">
    </th:block>
    <link th:href="@{/css/common-add.css}" rel="stylesheet">
    <link th:href="@{/css/choices.css}" rel="stylesheet">
    <script th:src="@{/js/choices.js}"></script>
    <script th:src="@{/js/candidate.js}"></script>

</head>
<body>

<div layout:fragment="content">

    <div>
        <nav aria-label="breadcrumb" class="my-4 ms-5">
            <ol class="breadcrumb">
                <li class="breadcrumb-item" aria-current="page">Detail candidate</li>
            </ol>
        </nav>
        <section class="p-5 user-container">
            <div class="field-details">
                <h5 class="mb-3">I. Personal information</h5>
                <div class="user-form">
                    <div class="user-form-left">
                        <div class="form-field">
                            <input type="text"
                                   class="form-input"
                                   th:value="${candidate.fullName}"
                                   readonly
                                   required/>
                            <label class="form-lb">Full name</label>
                            <ion-icon class="form-icon" name="newspaper-outline"></ion-icon>
                        </div>
                        <div class="form-field">
                            <input class="form-input"
                                   th:value="${candidate.dob}"
                                   readonly
                                   required/>
                            <label class="form-lb"> D.O.B</label>
                            <ion-icon class="form-icon" name="calendar-number-outline"></ion-icon>
                        </div>
                        <div class="form-field">
                            <input class="form-input"
                                   type="text"
                                   th:value="${candidate.phoneNumber}"
                                   readonly
                                   required/>
                            <label class="form-lb"> Phone no.</label>
                            <ion-icon class="form-icon" name="calendar-number-outline"></ion-icon>
                        </div>
                    </div>
                    <div class="user-form-right">
                        <div class="form-field">
                            <input class="form-input"
                                   type="text"
                                   th:value="${candidate.email}"
                                   readonly
                                   required/>
                            <label class="form-lb"> Email</label>
                            <ion-icon class="form-icon" name="calendar-number-outline"></ion-icon>
                        </div>
                        <div class="form-field">
                            <input class="form-input"
                                   type="text"
                                   th:value="${candidate.address}"
                                   readonly
                                   required/>
                            <label class="form-lb"> Address</label>
                            <ion-icon class="form-icon" name="calendar-number-outline"></ion-icon>
                        </div>
                        <div class="form-field">
                            <input class="form-input"
                                   type="text"
                                   th:value="${candidate.gender.name()}"
                                   readonly
                                   required/>
                            <label class="form-lb">Gender</label>
                            <ion-icon class="form-icon" name="person-outline"></ion-icon>
                        </div>
                    </div>
                </div>
                <h5 class="mb-3">II. Professional information</h5>
                <div class="user-form">
                    <div class="user-form-left">
                        <div class="form-field">
                            <a href="#" class="form-input d-flex align-items-center" th:utext="${candidate.cv}"
                               id="fileName"></a>
                            <label class="form-lb">Cv</label>
                            <ion-icon class="form-icon" name="newspaper-outline"></ion-icon>
                        </div>
                        <div class="form-field">
                            <input class="form-input"
                                   type="text"
                                   th:value="${candidate.position}"
                                   readonly
                                   required/>
                            <label class="form-lb"> Position</label>
                            <ion-icon class="form-icon" name="calendar-number-outline"></ion-icon>
                        </div>
                        <div class="form-field">
                            <div class="form-input d-flex align-items-center">
                                <span th:each=" s,i : ${candidate.skillCandidates}"
                                      th:if="${i.count == 1}"
                                      th:utext="${s.skill.name}">
                                </span>
                                <span th:each=" s,i : ${candidate.skillCandidates}"
                                      th:if="${i.count > 1}"
                                      th:utext="${' , ' + s.skill.name}">
                                </span>
                            </div>
                            <label class="form-lb form-lb-gender"> Skill</label>
                            <ion-icon class="form-icon" name="barbell-outline"></ion-icon>
                        </div>
                        <div class="form-field">
                            <input class="form-input"
                                   type="text"
                                   th:value="${candidate.recruiter.fullName}"
                                   readonly
                                   required/>
                            <label class="form-lb">Recruiter</label>
                            <ion-icon class="form-icon" name="person-outline"></ion-icon>
                        </div>
                    </div>
                    <div class="user-form-right">
                        <div class="form-field">
                            <input class="form-input"
                                   type="text"
                                   th:value="${candidate.status.value}"
                                   readonly
                                   required/>
                            <label class="form-lb"> Status</label>
                            <ion-icon class="form-icon" name="calendar-number-outline"></ion-icon>
                        </div>
                        <div class="form-field">
                            <input class="form-input"
                                   type="text"
                                   th:value="${candidate.yearOfExperience}"
                                   readonly
                                   required/>
                            <label class="form-lb"> Year Of Experience</label>
                            <ion-icon class="form-icon" name="calendar-number-outline"></ion-icon>
                        </div>
                        <div class="form-field">
                            <input class="form-input"
                                   type="text"
                                   th:value="${candidate.highestLevel.value}"
                                   readonly
                                   required/>
                            <label class="form-lb">Highest Level</label>
                            <ion-icon class="form-icon" name="person-outline"></ion-icon>
                        </div>
                        <div class="form-field">
                            <input class="form-input"
                                   type="text"
                                   readonly
                                   th:value="${candidate.note}"
                                   required/>
                            <label class="form-lb" > Notes</label>
                            <ion-icon class="form-icon" name="calendar-number-outline"></ion-icon>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-center mt-4">
                    <a th:href="@{/candidate/edit/{id}(id=${candidate.id})}" role="button"
                       class="btn btn-custom btn-outline-primary me-5">
                        Edit
                    </a>
                    <a th:href="@{/candidate}" role="button"
                       class="btn btn-custom btn-outline-secondary">
                        Back
                    </a>
                </div>
            </div>
        </section>
    </div>
    <script th:src="@{/js/common-add.js}"></script>
</div>
</body>
</html>